<div class="container">
  <header>
    <h1 class="title">Questions & Answers</h1>
    <hr>
    <div class="navbar">
      {{#link-to 'index'}}Back To Home{{/link-to}} |
      Contact |
      About
    </div>
    <hr>
  </header>

  {{outlet}}

  <footer class="credits">
    <p>Ember web app created by <a href="http://github.com/adamcraig">Adam Craig</a></p>
  </footer>

</div>
